@model List<MyCrudApp.Models.Product>

@{
    ViewData["Title"] = "Daftar Produk";
}

@* <pre>@Json.Serialize(Model)</pre> *@

<h2>Daftar Produk</h2>

<a asp-action="Create" class="btn btn-success mb-3">Tambah Produk</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nama Produk</th>
            <th>Harga</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
